html, body {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#club-generator {
    width: 100%;
    height: 100%;
    max-width: 900px;
    min-width: 320px;
    min-height: 320px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    width: 100%;
    height: 11%;
}

#club-gen {
    height: 84%;
}

.title-selection {
    width: 35%;
    height: 100%;
    float: left;
    padding-top: 13px;
    padding-left: 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.logo {
    width: 65%;
    height: 100%;
    float: left;
    padding-top: 13px;
    padding-right: 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

#selected-parts {
    height: 5%;
    width: 100%;
    float: left;
    margin-right: auto;
    margin-left: auto;
}

.selected-parts {
    display: inline-block;
    /*width: 100%;*/
    text-align: left;
    margin-top: 15px;
}

.henrys-logo {
    display: inline-block;
    background-color: #fff;
    width: 100%;
    height: 100%;
    background-image: url("/img/Henrys_Logo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.title {
    padding-bottom: 5px;
    font-size: 24px;
}

.title h3 {
    line-height: 24px;
    margin: 0;
}

.selection-header {
    /*margin-left: 15px;
    margin-top: 10px;*/
}

.selection-header span {
    display: inline-block;
    margin: 0;
    line-height: 14px;
}

#selection-menu {
    margin-left: 30px;
}

.dropdown {
    display: inline-block;
}

#selected-title {
    margin-left: 15px;
    float: left;
    width: 10%;
}

#selected-knob {
    float: left;
    width: 17%;
}

#selected-grip {
    float: left;
    width: 17%;
}

#selected-tape {
    float: left;
    width: 18%;
}

#selected-body {
    float: left;
    width: 17%;
}

#selected-top {
    float: left;
    width: 17%;
}

.club-pics {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.swiper-container-knob {
    z-index: 40;
}

.swiper-container-grip {
    z-index: 30;
}

/* Set Containers Styles*/

.swiper-container {
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.swiper-wrapper {
    max-height: 100%;
    height: 100%;
    width: 50%;
}

.swiper-slide {
    opacity: 1;
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    max-height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next, .swiper-button-prev {

    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    height: 4%;
    padding: 2px;
}

.button-pos-left {
    background-size: 70% 90%;
    background-image: url("../img/aro-lft.svg");
    left: 18%;
}

.button-pos-right {
    background-size: 70% 90%;
    background-image: url("../img/aro-rit.svg");
    right: 18%;
}

.button-pos-knob {
    top: 12%;
}

.button-pos-grip {
    top: 29.5%;
}

.button-pos-tape {
    top: 49.5%;
}

.button-pos-body {
    top: 72%;
}

.button-pos-top {
    top: 93%;
}

/* Adjust to different screen sizes */
@media screen and (max-width: 800px) {
    /* Don't show club parts title and give each part more space*/
    #selected-title {
        display: none;
        float: left;
        width: 0%;
    }

    #selected-knob {
        float: left;
        width: 20%;
    }

    #selected-grip {
        float: left;
        width: 20%;
    }

    #selected-tape {
        float: left;
        width: 20%;
    }

    #selected-body {
        float: left;
        width: 20%;
    }

    #selected-top {
        float: left;
        width: 19%;
    }

    #selection-menu {
        margin-left: 30px;
    }

    .title-selection {
        width: 40%;
    }

    .logo {
        width: 60%;
    }

    .henrys-logo {
        background-image: url("/img/Henrys_Logo_small.png");
        background-size: auto 83%;
    }
}

@media screen and (max-width: 700px) {

    #selected-parts {
        visibility: hidden;
        height: 0px;
    }

    #selected-parts span {
        display: none;
    }

    .button-pos-knob {
        top: 13.7%;
    }

    .button-pos-grip {
        top: 30.5%;
    }

    .button-pos-tape {
        top: 52%;
    }

    .button-pos-body {
        top: 74%;
    }

    .button-pos-top {
        top: 97%;
    }

    #club-gen {
        height: 90%;
    }
}

@media screen and (max-width: 620px) {

    .title-selection {
        width: 45%;
    }

    .logo {
        width: 55%;
    }

    .henrys-logo {
        background-size: 100%;
    }
}

@media screen and (max-width: 560px) {

    .title {
        padding-bottom: 5px;
        font-size: 100%;
    }

    #choose_club span {
        display: none;
    }

    #selection-menu {
        margin-left: 0px;
    }

    .title-selection {
        width: 30%;
        padding-left: 5px;
    }

    .logo {
        width: 70%;
        padding-right: 5px;
        padding-top: 20px;
    }

    .henrys-logo {
        background-size: auto 83%;
    }
}

@media screen and (max-width: 480px) {

    .title {
        padding-bottom: 0px;
        font-size: 13px;
    }

    .title-selection {
        width: 35%;
    }

    .logo {
        width: 65%;
        padding-left: 10px;
    }

    .henrys-logo {
        background-size: 100%;
    }
}

@media screen and (max-height: 820px) and (min-width: 700px) {

    .header {
        height: 12%;
    }

    #club-gen {
        height: 83%;
    }

    .button-pos-knob {
        top: 14.5%;
    }

    .button-pos-grip {
        top: 30%;
    }

    .button-pos-tape {
        top: 51.5%;
    }

    .button-pos-body {
        top: 72.5%;
    }

    .button-pos-top {
        top: 93%;
    }
}

@media screen and (max-height: 820px) and (max-width: 700px) {

    .title-selection {
        padding-top: 3px;
    }

    .logo {
        padding-top: 10px;
    }

    .header {
        height: 11%;
    }

    #club-gen {
        height: 89%;
    }

    .button-pos-knob {
        top: 14%;
    }

    .button-pos-grip {
        top: 31.5%;
    }

    .button-pos-tape {
        top: 53.3%;
    }

    .button-pos-body {
        top: 75.5%;
    }

    .button-pos-top {
        top: 97%;
    }
}

@media screen and (max-height: 700px) and (min-width: 700px) {

    .title-selection {
        padding-top: 10px;
    }

    .logo {
        padding-top: 10px;
    }

    .header {
        height: 13%;
    }

    #club-gen {
        height: 82%;
    }

    .button-pos-knob {
        top: 16%;
    }

    .button-pos-grip {
        top: 32.5%;
    }

    .button-pos-tape {
        top: 52.5%;
    }

    .button-pos-body {
        top: 74%;
    }

    .button-pos-top {
        top: 94%;
    }

    .selected-parts {
        margin-top: 0px;
        padding-top: 5px;
        box-sizing: border-box;
    }
}

@media screen and (max-height: 700px) and (max-width: 700px) {

    .title-selection {
        padding-top: 10px;
    }

    .logo {
        padding-top: 10px;
    }

    .header {
        height: 13%;
    }

    #club-gen {
        height: 87%;
    }

    .button-pos-knob {
        top: 16%;
    }

    .button-pos-grip {
        top: 34.5%;
    }

    .button-pos-tape {
        top: 54.5%;
    }

    .button-pos-body {
        top: 77%;
    }

    .button-pos-top {
        top: 98.5%;
    }

    .selected-parts {
        margin-top: 0px;
        padding-top: 5px;
        box-sizing: border-box;
    }
}

@media screen and (max-height: 630px) and (min-width: 700px) {

    .title-selection {
        padding-top: 10px;
    }

    .logo {
        padding-top: 10px;
    }

    .header {
        height: 16%;
    }

    #club-gen {
        height: 79%;
    }

    .button-pos-knob {
        top: 19.2%;
    }

    .button-pos-grip {
        top: 34.5%;
    }

    .button-pos-tape {
        top: 54.2%;
    }

    .button-pos-body {
        top: 74.5%;
    }

    .button-pos-top {
        top: 94%;
    }

    .selected-parts {
        margin-top: 0px;
        padding-top: 5px;
        box-sizing: border-box;
    }
}

@media screen and (max-height: 540px) and (min-width: 700px) {

    .title-selection {
        padding-top: 5px;
    }

    .logo {
        padding-top: 5px;
    }

    .header {
        height: 18%;
    }

    #club-gen {
        height: 77%;
    }

    .button-pos-knob {
        top: 21.7%;
    }

    .button-pos-grip {
        top: 38.5%;
    }

    .button-pos-tape {
        top: 55.6%;
    }

    .button-pos-body {
        top: 75%;
    }

    .button-pos-top {
        top: 94%;
    }

    .selected-parts {
        margin-top: 0px;
        padding-top: 0px;
    }
}

@media screen and (max-height: 540px) and (max-width: 700px) {

    .title-selection {
        padding-top: 5px;
    }

    .logo {
        padding-top: 5px;
    }

    .header {
        height: 16%;
    }

    #club-gen {
        height: 84%;
    }

    .button-pos-knob {
        top: 20.7%;
    }

    .button-pos-grip {
        top: 38%;
    }

    .button-pos-tape {
        top: 58%;
    }

    .button-pos-body {
        top: 78%;
    }

    .button-pos-top {
        top: 99%;
    }

    .selected-parts {
        padding-top: 5px;
    }
}

@media screen and (max-height: 400px) and (max-width: 700px) {

    .title {
        display: none;
    }

    .title-selection {
        padding-top: 10px;
        width: 45%;
    }

    .logo {
        width: 55%;
        padding-left: 10px;
    }

    .title-selection {
        padding-top: 5px;
    }

    .header {
        height: 16%;
    }

    #club-gen {
        height: 84%;
    }

    .button-pos-knob {
        top: 20.7%;
    }

    .button-pos-grip {
        top: 38%;
    }

    .button-pos-tape {
        top: 58%;
    }

    .button-pos-body {
        top: 78%;
    }

    .button-pos-top {
        top: 99%;
    }

    .selected-parts {
        padding-top: 5px;
    }

    .henrys-logo {
        background-size: auto 100%;
    }
}

@media screen and (max-height: 700px) and (max-width: 400px) {

    .title-selection {
        padding-top: 10px;
    }

    .logo {
        padding-top: 10px;
    }

    .header {
        height: 10%;
    }

    #club-gen {
        height: 90%;
    }

    .button-pos-knob {
        top: 12.8%;
    }

    .button-pos-grip {
        top: 31.5%;
    }

    .button-pos-tape {
        top: 53.3%;
    }

    .button-pos-body {
        top: 76.5%;
    }

    .button-pos-top {
        top: 98%;
    }

    .selected-parts {
        margin-top: 0px;
        padding-top: 5px;
        box-sizing: border-box;
    }
}

@media screen and (min-height: 1120px) {

    .title {
        padding-bottom: 10px;
    }

    .henrys-logo {
        background-size: 80%;
    }
}

@media screen and (max-width: 400px) {

    .title {
        display: none;
    }

    .title-selection {
        padding-top: 10px;
        width: 45%;
    }

    .logo {
        width: 55%;
        padding-left: 10px;
    }

    .henrys-logo {
        background-size: 100%;
    }
}

