html, body {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#club-generator {
    width: 100%;
    height: 100%;
    max-width: 900px;
    min-width: 320px;
    min-height: 320px;
    margin-right: auto;
    margin-left: auto;
}

#space-top{
    height:2%
}

.header {
    width: 100%;
    height: 8%;
}

#club-gen {
    height: 85%;
}

.title-selection {
    width: 39%;
    height: 100%;
    float: left;
}

.logo {
    width: 58%;
    height: 100%;
    float: left;
}

#space-left{
    width: 1%;
    height: 100%;
    float: left;
}

#space-middle{
    width: 1%;
    height: 100%;
    float: left;
}

#space-right{
    width: 1%;
    height: 100%;
    float: left;
}

#selected-parts{
    height: 5%;
    width: 100%;
    float: left;
    margin-right: auto;
    margin-left: auto;
}

.selected-parts{
    display: inline-block;
    /*width: 100%;*/
    text-align: left;
    margin-top:15px;
}

.henrys-logo{
    display: inline-block;
    background-color: #fff;
    width: 100%;
    height: 100%;
    background-image: url("/img/Henrys_Logo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.title {
    /*margin-left: 15px;*/
    /*margin-top: 20px;*/
    margin-bottom: 5px;
    font-size: 24px;
}

.title h3 {
    line-height: 24px;
    margin: 0;
}

.selection-header {
    /*margin-left: 15px;
    margin-top: 10px;*/
}

.selection-header span {
    display: inline-block;
    margin: 0;
    line-height: 14px;
}

#selection-menu{
    margin-left: 15px;
}

.dropdown {
    display: inline-block;
}

#selected-title{
    margin-left: 15px;
    float:left;
    width: 10%;
}

#selected-knob{
    float:left;
    width: 17%;
}

#selected-grip{
    float:left;
    width: 17%;
}

#selected-tape{
    float:left;
    width: 18%;
}

#selected-body{
    float:left;
    width: 17%;
}

#selected-top{
    float:left;
    width: 17%;
}

.club-pics{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.swiper-container-knob{
    z-index: 40;
}

.swiper-container-grip{
    z-index: 30;
}


/* Set Containers Styles*/

.swiper-container {
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.swiper-wrapper {
    max-height: 100%;
    height: 100%;
    width: 50%;
}

.swiper-slide {
    opacity: 1;
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    max-height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next, .swiper-button-prev {

    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    height: 4%;
    padding: 2px;
}

.button-pos-left {
    background-size: 70% 90%;
    background-image: url("../img/aro-lft.svg");
    left: 18%;
}

.button-pos-right {
    background-size: 70% 90%;
    background-image: url("../img/aro-rit.svg");
    right: 18%;
}

.button-pos-knob {
    top: 12%;
}

.button-pos-grip {
    top: 29.5%;
}

.button-pos-tape {
    top: 49.5%;
}

.button-pos-body {
    top: 72%;
}

.button-pos-top {
    top: 93%;
}

/* Adjust to different screen sizes */

@media screen and (max-width: 800px) {

    #selected-title{
        display: none;
        float:left;
        width: 0%;
    }

    #selected-knob{
        float:left;
        width: 20%;
    }

    #selected-grip{
        float:left;
        width: 20%;
    }

    #selected-tape{
        float:left;
        width: 20%;
    }

    #selected-body{
        float:left;
        width: 20%;
    }

    #selected-top{
        float:left;
        width: 19%;
    }

    #selection-menu{
        margin-left:5px;
    }

    .henrys-logo{
        background-image: url("/img/Henrys_Logo_small.png");
        background-size: auto 82%;
    }
}

@media screen and (max-width: 700px) {

    #selected-parts{
        visibility: hidden;
        height: 0px;
    }

    #selected-parts span{
        display:none;
    }

    .title-selection {
        width: 37%;
    }

    .logo{
        width: 60%;
        float: left;
    }

    #club-gen{
        height: 90%;
    }
}

@media screen and (max-width: 580px) {

    .title-selection {
        width: 50%;
    }

    .logo{
        width: 47%;
        float: left;
    }

    .henrys-logo{
        background-image: url("/img/Henrys_Logo_small.png");
        background-size: auto 80%;
    }
}