html, body {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#club-generator {
    width: 100%;
    height: 100%;
    max-width: 900px;
    min-width: 320px;
    min-height: 320px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    width: 100%;
    height: 10%;
}


#club-gen {
    height: 85%;
}

.title-selection {
    width: 40%;
    float: left;
}

.logo {
    width: 60%;
    float: right;
}

#selected-parts{
    height: 5%;
    width: 100%;
    float: left;
    margin-right: auto;
    margin-left: auto;
}

#selected-parts span{
    display: inline-block;
    /*width: 100%;*/
    text-align: left;
    margin-top:15px;
}

.logo img {
    margin-top: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.title {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 24px;
}

.title h3 {
    line-height: 24px;
    margin: 0;
}

.selection-header {
    margin-left: 15px;
    margin-top: 10px;
}

.selection-header span {
    display: inline-block;
    margin: 0;
    line-height: 14px;
}

#selection-menu{
    margin-left: 15px;
}

.dropdown {
    display: inline-block;
}
#selected-title{
    margin-left: 15px;
    float:left;
    width: 16%;
}

#selected-knob{
    float:left;
    width: 16%;
}

#selected-grip{
    float:left;
    width: 16%;
}

#selected-tape{
    float:left;
    width: 16%;
}

#selected-body{
    float:left;
    width: 16%;
}

#selected-top{
    float:left;
    width: 16%;
}

.club-pics{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.swiper-container-knob{
    z-index: 40;
}

.swiper-container-grip{
    z-index: 30;
}


/* Set Containers Styles*/

.swiper-container {
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.swiper-wrapper {
    max-height: 100%;
    height: 100%;
    width: 50%;
}

.swiper-slide {
    opacity: 1;
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    max-height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next, .swiper-button-prev {

    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    height: 4%;
    padding: 2px;
}

.button-pos-left {
    background-size: 70% 90%;
    background-image: url("../img/aro-lft.svg");
    left: 18%;
}

.button-pos-right {
    background-size: 70% 90%;
    background-image: url("../img/aro-rit.svg");
    right: 18%;
}

.button-pos-knob {
    top: 12%;
}

.button-pos-grip {
    top: 29.5%;
}

.button-pos-tape {
    top: 49.5%;
}

.button-pos-body {
    top: 72%;
}

.button-pos-top {
    top: 93%;
}

/* Adjust to different screen sizes */

@media screen and (max-width: 720px) and (min-width: 456px) {

    .header {
        width: 100%;
        margin: 0 auto;
        height: 15vh;
    }

    .title-selection {
        margin-top: 5px;
        height: 40%;
        width: 100%;
        float: left;
    }

    .logo {
        padding-top: 0;
        margin-left: auto;
        margin-right: auto;
        height: 50%;
        width: 100%;
        float: none;
    }

    .logo img {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 0;
    }

    .title {
        display: inline-block;
        padding-top: 10px;
        padding-left: 5px;

        font-size: 18px;
        float: left;
    }

    .title h3 {
        padding-left: 10px;
        line-height: 18px;
        margin: 0;
    }

    .selection-header {
        float: right;
        padding-top: 8px;
        padding-left: 0px;
        padding-right: 10px;
        display: inline-block;
    }

    .selection-header p {
        display: inline-block;
    }

    .dropdown {
        display: inline-block;
    }

    .button-pos-knob {
        top: 25%;
    }

    .button-pos-grip {
        top: 40%;
    }

    .button-pos-tape {
        top: 55%;
    }

    .button-pos-body {
        top: 76%;
    }

    .button-pos-top {
        top: 95%;
    }

}

@media screen and (max-width: 455px) and (min-width: 0px) {

    #club-generator {
        width: 100vw;
        min-width: 320px;
        min-height: 480px;
        max-width: 1000px;
        height: 100vh;
        margin-right: auto;
        margin-left: auto;
    }

    .header {
        padding: 0;
        margin: 0;
        height: 15vh;
    }

    .logo {
        padding-top: 0;
        height: 70%;
        width: 100%;
        float: right;
    }

    .logo img {
        padding-top: 15px;

        padding-left: 0;
        padding-right: 0;
    }

    .title-selection {
        margin-top: 0;
        height: 40%;
        width: 100%;
        float: left;
    }

    .selection-header {
        padding-top: 8px;
        padding-left: 10px;
    }

    .title {
        display: none;
    }

    .title h3 {
        display: none;
    }

    .button-pos-knob {
        top: 21%;
    }

    .button-pos-grip {
        top: 40%;
    }

    .button-pos-tape {
        top: 54%;
    }

    .button-pos-body {
        top: 74%;
    }

    .button-pos-top {
        top: 95%;
    }
}

@media screen and (max-height: 580px) and (min-height: 0px)and  (max-width: 1000px) and (min-width: 0px) {

    .header {
        padding: 0;
        margin: 0;
        height: 15vh;
    }

    .logo {
        width: 40%;
        float: right;
    }

    .logo img {
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    .title {
        display: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    .title h3 {
        display: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    .title-selection {
        margin-top: 0;
        height: 40%;
        width: 60%;
        float: left;
    }

    .selection-header {
        padding-top: 8px;
        padding-left: 10px;
        float: left;
    }

    .button-pos-knob {
        top: 22%;
    }

    .button-pos-grip {
        top: 40%;
    }

    .button-pos-tape {
        top: 56.5%;
    }

    .button-pos-body {
        top: 76%;
    }

    .button-pos-top {
        top: 95%;
    }
}

@media screen and (max-height: 400px) and (min-height: 0px) and (max-width: 480px) and (min-width: 0px) {

    #header {
        padding: 0;
        margin: 0;
        height: 15vh;
    }

    .logo {
        width: 50%;
        float: right;
    }

    .logo img {
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    .title {
        display: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    .title h3 {
        display: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    .title-selection {
        margin-top: 0;
        height: 40%;
        width: 50%;
        float: left;
    }

    .selection-header {
        padding-top: 0;
        padding-left: 10px;
        float: left;
    }

    .button-pos-knob {
        top: 25%;
    }

    .button-pos-grip {
        top: 40%;
    }

    .button-pos-tape {
        top: 60%;
    }

    .button-pos-body {
        top: 80%;
    }

    .button-pos-top {
        top: 96%;
    }
}

@media screen and (max-height: 400px) and (min-height: 0px) {

    .button-pos-knob {
        top: 25%;
    }

    .button-pos-grip {
        top: 40%;
    }

    .button-pos-tape {
        top: 60%;
    }

    .button-pos-body {
        top: 80%;
    }

    .button-pos-top {
        top: 96%;
    }
}

@media screen and (max-height: 540px) and (min-height: 401px) {

    .button-pos-knob {
        top: 22%;
    }

    .button-pos-grip {
        top: 40%;
    }

    .button-pos-tape {
        top: 58%;
    }

    .button-pos-body {
        top: 78%;
    }

    .button-pos-top {
        top: 96%;
    }
}

@media screen and (max-height: 720px) and (min-height: 541px) {

    .logo img {
        padding-top: 5px;
    }

    .selection-header {
        padding-top: 5px;
    }

    .button-pos-knob {
        top: 21%;
    }

    .button-pos-grip {
        top: 38%;
    }

    .button-pos-tape {
        top: 55.5%;
    }

    .button-pos-body {
        top: 77%;
    }

    .button-pos-top {
        top: 96%;
    }
}

