
body{
  height: 100%;
}

#page_body{
    height:100%;
}





#club_window{
  height: 100px !important;
  min-height: 100px;
  max-height: 100px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

.swiper-wrapper{
  height:100%;
}




.swiper-slide {
    text-align: center;
  	margin-right:auto;
  	margin-left:auto;
    background-color: #FFF;
}



/*.club-pics{
  width:20%;
}*/

/*#img-club-top{
  width: 250px;
}
#img-club-body{
  width: 450px;
}
#img-club-tape{
  width: 175px;
}
#img-club-grip{
  width: 250px;
}
#img-club-knob{
  width: 175px;
}*/
